body {
    background-color: rgb(238, 203, 87);
}

h1{
    text-align: center;
}

.navbar{
    background: linear-gradient(to right, #ff5858, #f857a6);
}

#image {
    height: 200px;
    width: 200px;
    /* margin-left: 40%;
    margin-top: 3%; */
    border-radius: 20px;
}

/* #undevoured{
    margin-left: 240px;
} */

.row{
    margin-top: 80px;
    margin-left: 250px;
}

.burger-add-div{
    margin-left: 40%;
    margin-top: 5%;
}